<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Library</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>




	<!-- <form action="#" th:action="@{/pages/book}" th:object="${book_Model}"
		method="POST">
		<div class="row">
			<div class="form-group col-md-6">
				 <input
					type="text" th:field="*{title}" class="form-control" id="name"
					placeholder="Aranacak kelime">
			</div>

		</div>

		<div class="row">
			<div class="col-md-6 mt-5">
				<input type="submit" class="btn btn-primary" value="Kitap Ara">
			</div>
		</div>
	</form> -->










	<div th:switch="${books}" class="container my-5">
		<div class="row">
			<div class="col-md-12">
				<h2 th:case="null">No book yet!</h2>
				<div th:case="*">
					<h2 class="my-5">Kitaplar</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>ID</th>
								<th>Title</th>
								<th>Year</th>
								<th>Explanation</th>
								<th>Note</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="book,i : ${books}">
								<td th:text="${book.id}"></td>
								<td th:text="${book.title}"></td>
								<td th:text="${book.year}"></td>
								<td th:text="${book.explanation}"></td>

								<td th:text="${book.note}"></td>

							</tr>
						</tbody>
					</table>
				</div>
				<p class="my-5">
					<a href="/pages/book" class="btn btn-primary"><i
						class="fas fa-user-plus ml-2"></i></a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>